.navbar.dark-theme{
    --bg-color: #222;
    --text-color: red;
}

.navbar {
    background-color: var(--bg-color);
color: #FFF;
}
.dark-theme{
    --bg-color: #222;
    --text-color: white;
}
/*
.no-scrollbar {
    overflow: hidden;
    background-color: green;
}
body {
    overflow: hidden;
}*/
/* Hide scrollbar for Chrome, Safari, and Opera */


  
  /* Hide scrollbar for IE, Edge, and Firefox */
  /*.no-scrollbar {
    -ms-overflow-style: none; / Internet Explorer 10+ /
    scrollbar-width: none; / Firefox /
  }*/
  